* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0 10px;
    padding: 0;
    background: pink;
}

html {
    overflow: hidden;
}

main {
    overflow: hidden;
    height: 100.01vh;
    display: grid;
    grid-template: repeat(3, 1fr) / auto;
}

#main {
    display: none;
}

main > div {
    /* flex-basis: auto;
    flex-grow: 0; */
    display: flex;
    align-items: center;
    /* flex-shrink: 1; */
    height: 100%;
    width: 100%;
    border: 2px solid lavender;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    background: #e9cccc;
}

main > :first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

main > :last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

#display img {
    display: block;
    max-height: 100%;
    background: black;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
}

#display {
    display: grid;
    grid-template: auto 1fr / auto;
}

#active form {
    flex-direction: column-reverse;
}

form > div {
    width: 100%;
    height: auto;
    background: lightgrey;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    overflow: visible;
    display: grid;
    grid-template: 'text text img img . button' 1fr /
        10% 36% minmax(0px, 100px) 0.75fr 5px minmax(20px, 10%);
}

#library form img {
    grid-area: img;
}

#library form p {
    grid-area: text;
}

form button {
    grid-area: button;
}

#active div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#active div > div button {
    width: 100%;
    height: 100%;
}

form img {
    width: 100%;
    height: 60px;
}

form p {
    width: 100%;
}

form input {
    display: none;
}

form > button {
    grid-area: button;
    width: 100%;
}

h1 {
    margin: 8px 0px;
    flex-grow: 0;
    font-size: 16pt;
    text-align: center;
}

h2 {
    font-size: 12pt;
    margin: 4px 0px;
}

.drops {
    padding: 0 5px 5px 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    main {
        grid-template: 'library display' 1fr
                       'library active'  1fr /
                       30% auto;
        max-width: 800px;
        margin: 0 auto;
    }

    #library {
        grid-area: library;
    }

    main > div {
        border-radius: 0px;
    }

    form > div {
        /* grid-template: 'text text img img button' 1fr / 10% 25% 100px 0.75fr 10%; */
    }
}
