* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0 10px;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    display: none;
}

main > div > img {
    margin-top: 0;
    width: 655px;
    max-width: 100%;
    background: black;
}

form {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
    margin: 8px;
    padding-bottom: 5px;
}

form > div {
    width: 170px;
    height: 170px;
    background: lightgrey;
    border-radius: 5px;
}

form img {
    max-width: 100%;
}

form p {
    margin: 3px;
}

form input {
    display: none;
}

h1 {
    margin: 8px;
}

@media only screen and (max-width: 768px) {
    form {
        width: 100%;
        grid-template: 1fr 1fr / 1fr;
        grid-auto-flow: column;
        overflow-x: auto;
    }
}
